<a href="https://colab.research.google.com/github/jaden0305/proj_dbdt/blob/main/%EB%84%A4%EB%B2%88%EC%A7%B8_%ED%8C%80_%EB%AF%B8%EC%85%98_(%EA%B9%80%EA%B8%B0%ED%91%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. EDA에 필요한 라이브러리를 불러오세요.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

2. 데이터 다운로드 후 Colab에 연결 및 저장

In [ ]:
# 구글 드라이브와 코랩을 연결
from google.colab import drive
drive.mount('/content/drive')

# chipotle.tsv 파일을 탭 구분자로 읽기
chipo = pd.read_csv('/content/drive/MyDrive/chipotle/chipotle.tsv', delimiter='\t')

Mounted at /content/drive

3. 첫 10개 데이터의 출력

In [ ]:
# 첫 10개 데이터의 출력
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. 데이터 수의 확인

In [ ]:
# solution: shape함수를 통한 확인

#1-1. 데이터 프레임 정의: 행을 기준으로 Count
data_frame1 = chipo.shape[0]

#1-2. 정의한 데이터 프레임 출력
print("Chipo 데이터의 수는",data_frame1,"개다.")

Chipo 데이터의 수는 4622 개다.

5. 데이터의 변수확인

In [ ]:
# 데이터 변수(Column) 확인
print(chipo.columns)

# 컬럼별 정보 확인
chipo.info()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

6. 가장 많이 주문한 제품

In [ ]:
# item_name를 기준으로 주문 횟수 테이블 생성
most_order = chipo.groupby('item_name')['order_id'].nunique()

# 해당테이블을 내림차순으로 정렬
most_order_sorted = most_order.sort_values(ascending = False)

# 가장 맨 위의 행을 추출
most_order_name = most_order_sorted.index[0]

# 데이터의 출력
print(most_order_name)

Chicken Bowl

7. 가장 많이 주문한 제품이 얼마나 많이 주문되었는지?

In [ ]:
# 6번 데이터의 활용
# item_name를 기준으로 주문 횟수 테이블 생성
most_order = chipo.groupby('item_name')['order_id'].nunique()

# 해당테이블을 내림차순으로 정렬
most_order_sorted = most_order.sort_values(ascending = False)

# 가장 맨 위의 행을 추출
most_order_name = most_order_sorted.index[0]

# 주문량 추출
quantity = chipo[chipo['item_name'] == most_order_name]['quantity'].sum()

# 데이터 출력
print('주문량:', quantity)

주문량: 761

8. choice_description 에서 가장 많이 주문된 아이템은 무엇인가요? What was the most ordered item in the choice_description column?

처음에는 리스트에 대한 내용들을 분리하면 된다고 생각했는데, 그러면 Quantity 자체가 중복값으로 들어가서 Quantity가 뻥튀기 될수 있을거 같더라구요. 그래서 임동찬님도 그냥 Groupby Quantity로 계산하신거같은데 검토해주시면 감사하겠습니다.

In [ ]:
chipo_groupby = chipo.groupby('choice_description').sum()
chipo_groupby_sorted = chipo_groupby.sort_values('quantity',ascending = False)
chipo_groupby_sorted.head(1)

<ipython-input-39-76c99e15dcd7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo_groupby = chipo.groupby('choice_description').sum()

                    order_id  quantity  item_price  profit
choice_description
[Diet Coke]           123455       159      326.71  408.41

9. 전체 몇개의 아이템이 주문되었나요?

In [ ]:
total = chipo.quantity.sum()
total

4972

10. 아이템 가격의 데이터 타입을 float으로 바꿔주세요.

In [ ]:
# 데이터 타입의 확인
chipo.item_price.dtype

dtype('O')

In [ ]:
float_change = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(float_change)

TypeError: ignored

In [ ]:
chipo.item_price.dtype

dtype('float64')

11. 전체 기간동안 획득한 수익은 얼마나 되나요?

In [ ]:
profit = (chipo['quantity'] * chipo['item_price']).sum()
print('Profit is $',np.round(profit,3))

Profit is $ 39237.02

12.  기간동안 얼마나 많은 주문이 들어왔나요?

In [ ]:
total_orders = chipo.order_id.value_counts().count()
total_orders

1834

13. 주문당 수익이 얼마인가요?

In [ ]:
profit = (chipo['quantity'] * chipo['item_price']).sum()
order_groupby = chipo.groupby(by=['order_id']).sum()
order_groupby.mean()['profit']

<ipython-input-25-2ce766b11d58>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  order_groupby = chipo.groupby(by=['order_id']).sum()

21.39423118865867